* {
    margin: 0;
    padding: 0;
}
.Header_component {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.Link {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.search_container {
    width: 400px;
    border: solid #c2c2c2 1px;
    height: 2.2rem;
    display: flex;
    align-items: center;
    margin: auto 0;
    position: relative;
    left: 9%;
}

.search_container > input {
    width: 90%;
    height: 1.9rem;
    border: none;
    margin: 0 0 0 5px;
}
.search_container > button {
    width: 20%;
    height: 1.9rem;
    border: none;
    background-color: transparent;
}

.Logo {
    margin: auto 20px;
}

.NavBar {
    margin: auto 20px;
}

.NavBar>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.NavBar>ul>li {
    margin: 0 20px;
    box-sizing: border-box;
    
}

.search_container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px; /* Adjust the width as needed */
    box-sizing: border-box;
}

.search_input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

.search_button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.search_button .material-symbols-outlined {
    font-size: 20px; /* Adjust the size as needed */
}
